* {
  box-sizing: border-box;
  color: #e6ecd2;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(17, 17, 17, 255);
  font-family: Times New Roman;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: serif, Times New Roman;
}

.main-header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 17, 17, 255);
  border-bottom: 2px solid rgba(43, 43, 43, 255);
}

.menu-title {
  padding: 32px;
  margin: 0;
  font-size: 1.8em;
}

.menu-title a {
  text-decoration: none;
}

.menu-title a:hover {
  text-decoration: none;
  color: rgba(230, 163, 2, 255);
}

.menu-nav {
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
}

.menu-nav ul {
  margin: 0;
}

.menu-nav li {
  display: inline;
}

.menu-nav a {
  display: inline-block;
  padding: 2em;
  text-decoration: none;
}

.menu-nav a:hover {
  color: rgba(230, 163, 2, 255);
  background-color: rgba(43, 43, 43, 255);
}

.main-header-title {
  padding: 200px 0;
  text-align: center;
}

.main-header-title .name {
  margin: 0;
  font-size: 5em;
}

.main-header-title .welcome-text {
  margin: 0;
  font-size: 1.8em;
  font-weight: lighter;
}

section {
  padding-bottom: 200px;
  padding-top: 200px;
}

section h2 {
  color: rgba(230, 163, 2, 255);
  font-size: 1.8em;
  margin: 0;
  padding: 30px 10%;
  font-weight: bold;
}

section .section-content {
  font-size: 1.5em;
  margin: 0;
  padding: 30px 15%;
}

.section-grey {
  background-color: rgba(43, 43, 43, 255);
}

.project-item {
  align-items: flex-end;
  padding: 50px;
  display: flex;
  border-bottom: 2px solid rgba(43, 43, 43, 255);
  cursor: pointer;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

.project-item:hover {
  background-color: rgba(43, 43, 43, 255);
}

.project-item a {
  color: rgba(230, 163, 2, 255);
}

.project-content {
  justify-content: end;
  padding: 0px 25px;
}

.project-tech i {
  color: grey;
}

.project-item p {
  margin-bottom: 0;
}

.project-name {
  color: rgba(230, 163, 2, 255);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 30px 0px;
}

footer ul {
  margin: 0;
}

footer li {
  display: inline;
}

footer a {
  display: inline-block;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 1.3em;
}

footer a:hover {
  color: rgba(230, 163, 2, 255);
}

.meme-container {
  text-align: center;
}

button {
  font-family: Times New Roman;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0);
  color: #e6ecd2;
  border: 2px solid rgba(230, 163, 2, 255);
}

button:hover {
  background-color: rgba(230, 163, 2, 255);
}

.experience-item {
  align-items: flex-end;
  padding: 50px;
  display: flex;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

.experience-content {
  justify-content: end;
  padding: 0px 25px;
}

.experience-tech i {
  color: grey;
}

.experience-item p {
  margin-bottom: 0;
}

.experience-name {
  color: rgba(230, 163, 2, 255);
  font-weight: bold;
}
