* {
  box-sizing: border-box;
  color: #e6ecd2;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(17, 17, 17, 255);
}

.main-header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 17, 17, 255);
  border-bottom: 2px solid rgba(43, 43, 43, 255);
}

.menu-title {
  padding: 32px;
  margin: 0;
  font-size: 1.8em;
}

.menu-title a {
  text-decoration: none;
}

.menu-title a:hover {
  text-decoration: none;
  color: rgba(230, 163, 2, 255);
}

.menu-nav {
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
}

.menu-nav ul {
  margin: 0;
}

.menu-nav li {
  display: inline;
}

.menu-nav a {
  display: inline-block;
  padding: 2em;
  text-decoration: none;
}

.menu-nav a:hover {
  color: rgba(230, 163, 2, 255);
  background-color: rgba(43, 43, 43, 255);
}

.main-header-title {
  padding: 100px 0;
  margin-top: 100px;
  text-align: center;
}

.main-header-title .name {
  margin: 0;
  font-size: 5em;
}

.main-header-title .welcome-text {
  margin: 0;
  font-size: 1.8em;
  font-weight: lighter;
}

section {
  padding-bottom: 50px;
  padding-top: 50px;
}

section h2 {
  color: rgba(230, 163, 2, 255);
  font-size: 1.8em;
  margin: 0;
  padding: 30px 10%;
}

section .section-content {
  font-size: 1.3em;
  margin: 0;
  padding: 30px 15%;
}

.section-1 {
  background-color: rgba(43, 43, 43, 255);
}

.project-item {
  padding: 50px;
  display: flex;
  border-bottom: 2px solid rgba(43, 43, 43, 255);
  cursor: pointer;
}

.project-item:hover {
  background-color: rgba(43, 43, 43, 255);
}

.project-item a {
  color: rgba(230, 163, 2, 255);
}

.project-content {
  justify-content: end;
  padding: 0px 25px;
}

.project-tech i {
  color: grey;
}

.project-name a {
  color: rgba(230, 163, 2, 255);
  font-weight: bold;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px 0px;
}

footer h3 {
  padding: 30px 0px;
  margin: 0;
  font-size: 1.8em;
  font-weight: lighter;
}

footer ul {
  margin: 0;
}

footer li {
  display: inline;
}

footer a {
  display: inline-block;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 1.3em;
}

footer a:hover {
  color: rgba(230, 163, 2, 255);
}
